.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App h1 {
  text-transform: uppercase;
}
.highlight {
  color: #53d895;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    transform: scale(0.8);
    animation: App-logo-spin infinite 1s linear alternate-reverse;
  }
}

.App-header {
  background-color: #101c2c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(0.9);
  }
}
